* {
    outline: 1px solid purple;
    height: 200vh;
}

/* 
==================================================================
HEADER
==================================================================
------------------------------------------------------------------
NAVIGATION
------------------------------------------------------------------
*/

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 0;
    width: 100%;
}

nav img {
    min-height: 70px;
    height: 20vh;
}

.nav-container-right {
    display: flex;
}